.slider 
  max-width: 800px
  max-height: auto
  margin: 0 auto
  display: flex
  overflow: hidden
  height: 600px
  object-fit: contain
  padding-top: 6rem
  padding-bottom: 3.5rem

  

.slider__nav 
  position: absolute
  top: 50%
  transform: translateY(-50%)
  background: none
  border: none
  outline: none
  cursor: pointer

  &--prev 
    left: 7rem
    top: 28rem
  

  &--next 
    right: 7rem
    top: 28rem
   
  
.fas
  color: #462b2b
  background: #fff
  border-radius: 50px
  font-size: 30px
  padding: 4.5px
  

  

