<swiper [navigation]="true" class="mySwiper">
    <ng-template swiperSlide><img src="assets/property/property_01.jpeg" alt="property"></ng-template>
    <ng-template swiperSlide><img src="assets/property/property_02.jpeg" alt="property"></ng-template>
    <ng-template swiperSlide><img src="assets/property/property_03.jpeg" alt="property"></ng-template>
    <ng-template swiperSlide><img src="assets/property/property_04.jpeg" alt="property"></ng-template>
    <ng-template swiperSlide><img src="assets/property/property_01.jpeg" alt="property"></ng-template>
    <ng-template swiperSlide><img src="assets/property/property_01.jpeg" alt="property"></ng-template>
    <ng-template swiperSlide><img src="assets/property/property_01.jpeg" alt="property"></ng-template>
 </swiper>