.nav__bar
  display: flex
  background-color: #201111
  padding: 15px

.menu__button
  left: 11rem
  border: none
  background: transparent

.logo-container
  display: flex
  justify-content: flex-end
  align-items: center

