.nav__bar 
  display: flex
  background-color: #201111
  padding: 15px


.menu__button 
  margin: 1.3rem 0 0 0
  border: none
  position: absolute
  background: transparent

.logo-closed
  width: 70px

.logo-container 
  display: flex
  align-items: center
  flex: 1  
 

.nav__bar .logo-container 
  justify-content: flex-end  

.list ul
  justify-content: center

.list__items 
  display: flex
  flex-direction: column
  justify-content: center
  font-size: larger
  color: #E2DFD1
  text-align: center
  line-height: 7rem
  list-style: none
  
  
.cart__section
  display: flex
  flex-direction: column
  justify-content: center
  font-size: larger
  color: #E2DFD1
  text-align: center
  line-height: 7rem
  list-style: none
  padding-right: 37rem
  padding-left: 37rem
  position: relative


.nav__bar[class*='menu-open'] .list__items 
  display: flex


.nav__bar[class*='menu-closed'] .list__items 
  display: none

@media (min-width: 900px)
    .menu__button
      display: none 

@media (min-width: 1024px)
    .menu__button
     display: none

@media (min-width: 1200px)
    .menu__button
     display: none

@media (min-width: 1440px)
   .menu__button
     display: none





  