.product
    width: 150px
    height: 150px
    margin: 8rem
    float: left
    line-height: 12px
    margin-bottom: 17rem
    

    .img
        margin-bottom: 2rem
        
        
    .bag
        width: 11rem
        
        
        
    
    
.material-icons
    background-color: #6e4c4c
    border-radius: 40px
    padding: 4px 16px
    margin-left: 39px
    cursor: pointer
    
    
.filter
    display: flex
    justify-content: space-evenly
    margin-top: 2rem
    margin-left: 5.2rem
    background-color: #fff

.bg_cart
    color: #fff
    padding-top: 3rem
    padding-left: 2rem

select
    background-color: #fff



@media screen and (max-width: 800px)
.product
    width: 150px
    height: 150px
    margin-left: 2rem
    margin-bottom: 17rem
    padding-left: 2.5rem
    margin-left: 4.5rem
   

    .bag
        width: 15rem
        margin-left: -3rem
        
        
        
    .material-icons
        background-color: #6e4c4c
        border-radius: 40px
        padding: 4px 16px
        margin-right: 10rem
        cursor: pointer
        margin-bottom: 5rem
    
    
    .filter
        display: flex
        justify-content: space-evenly
        margin-top: 2rem
        margin-left: 5.2rem
        background-color: #fff

    .bg_cart
        color: #fff
        padding-top: 3rem
        padding-left: 2rem

    select
        background-color: #fff




@media screen and (max-width: 500px)
    .product
        width: 150rem
        height: 150px
        margin-left: 6rem
        margin-bottom: 20rem
        padding-left: 13rem
        margin-left: -4.5rem
        display: block

        .bag
        width: 15rem
        margin-left: 3rem
        
        
        
    .material-icons
        background-color: #6e4c4c
        border-radius: 40px
        padding: 4px 16px
        margin-right: 10rem
        cursor: pointer
        margin-bottom: 5rem
    
    
    .filter
        display: flex
        justify-content: space-evenly
        margin-top: 2rem
        margin-left: 5.2rem
        background-color: #fff

    .bg_cart
        color: #fff
        padding-top: 3rem
        padding-left: 2rem

    select
        background-color: #fff


@media screen and (max-width: 400px)
    .product
        width: 150rem
        height: 150px
        margin-left: 6rem
        margin-bottom: 20rem
        padding-left: 13rem
        margin-left: -4.5rem
        display: block

        .bag
        width: 15rem
        margin-left: 3rem
        
        
        
    .material-icons
        background-color: #6e4c4c
        border-radius: 40px
        padding: 4px 16px
        margin-right: 10rem
        cursor: pointer
        margin-bottom: 5rem
    
    
    .filter
        display: flex
        justify-content: space-evenly
        margin-top: 2rem
        margin-left: 5.2rem
        background-color: #fff

    .bg_cart
        color: #fff
        padding-top: 3rem
        padding-left: 2rem

    select
        background-color: #fff

    
   
    


  
