.product
    width: 150px
    height: 150px
    margin: 8rem
    float: left
    line-height: 12px

.material-icons
    background-color: #6e4c4c
    border-radius: 40px
    padding: 4px 16px
    margin-left: 35px
    cursor: pointer
    
.filter
    display: flex
    justify-content: space-evenly
    margin-top: 3rem
    margin-left: 2rem
   
    

    
    
