<div class="us__container">
    <p class="copy"><b>La cordillera central dota al café Reflejo de muchas cualidades, la agresividad montañosa característica de la cordillera, junto al suelo volcánico dotan al grano de café de material orgánico a través de sus minerales, lo que mejora la producción del café de esta región, dotándolo de una acidez bien definida y un cuerpo medio amable al paladar.</b></p>
    <img class="leaf" src="assets/product_images/coffe_leaf.png" alt="Hoja de Café">
    <img class="leaf_two" src="assets/product_images/coffe_leaf.png" alt="Hoja de Café">
</div>
