.us__container
    display: flex
    flex-direction: column
    justify-content: center
    background: #131010
    background-size: cover
    padding-top: 5.5rem 
    padding-bottom: 35rem 
    clear: both

    b
        background: none
        opacity: 110%
    
    

.copy
    color: #ffffff
    font-family: Poppins
    font-size: 30px
    line-height: 80px
    text-align: justify
    padding: 6rem 
    margin: 7rem 7rem 7rem 10rem
    opacity: 80%
    background-color: #c9b456
    z-index: 1
    
    
    
.leaf
    display: block
    width: 500px
    rotate: 90deg
    margin-left: 39.5rem
    margin-top: -39.2rem
    background: none
    

.leaf_two
    display: block
    width: 300px
    rotate: 270deg
    margin-left: 11rem
    margin-top: -54.8rem
    background: none


@media screen and (max-width: 800px)
    .copy
        color: #ffffff
        font-family: Poppins
        font-size: 22px
        line-height: 50px
        text-align: justify
        padding: 4rem 
        margin: 7rem 7rem 7rem 7rem
        opacity: 80%
        background-color: #c9b456
        z-index: 1

    .leaf
        display: block
        width: 350px
        rotate: 90deg
        margin-left: 20.4rem
        margin-top: -29.7rem
        background: none

    .leaf_two
        display: block
        width: 250px
        rotate: 270deg
        margin-left: 7.5rem
        margin-top: -41.2rem
        background: none

@media screen and (max-width: 500px)
    .copy
        color: #ffffff
        font-family: Poppins
        font-size: 22px
        line-height: 50px
        text-align: justify
        padding: 4rem 
        margin: 1rem -11rem -11rem 6rem
        opacity: 80%
        background-color: #c9b456
        z-index: 1

    .leaf
        display: block
        width: 300px
        rotate: 90deg
        margin-left: 22.8rem
        margin-top: -8.5rem
        background: none

    .leaf_two
        display: block
        width: 250px
        rotate: 270deg
        margin-left: 6.5rem
        margin-top: -41rem
        background: none


@media screen and (max-width: 400px)
    .copy
        color: #ffffff
        font-family: Poppins
        font-size: 22px
        line-height: 50px
        text-align: justify
        padding: 4rem 
        margin: 1rem -17rem -17rem 6rem
        opacity: 80%
        background-color: #c9b456
        z-index: 1

    .leaf
        display: block
        width: 300px
        rotate: 90deg
        margin-left: 22.5rem
        margin-top: -2.5rem
        background: none

    .leaf_two
        display: block
        width: 250px
        rotate: 270deg
        margin-left: 6.5rem
        margin-top: -41rem
        background: none




