.us__container
    display: flex
    flex-direction: column
    justify-content: center
    background: #131010
    background-size: cover
    padding-top: 5.5rem 
    padding-bottom: 35rem 
    clear: both

    b
        background: none
        opacity: 110%
    
    

.copy
    color: #ffffff
    font-family: Poppins
    font-size: 30px
    line-height: 80px
    text-align: justify
    padding: 6rem 
    margin: 0rem 10rem
    opacity: 80%
    background-color: #c9b456
    z-index: 1
    
    
    
.leaf
    display: block
    width: 500px
    rotate: 90deg
    margin-left: 36.6rem
    margin-top: -32.3rem
    background: none
    

.leaf_two
    display: block
    width: 340px
    rotate: 270deg
    margin-left: 11rem
    margin-top: -54.8rem
    background: none
    

