.footer__container
    display: flex
    flex-direction: column
    justify-content: center
    background: #131010
    clear: both

    .logo
        height: 320px
        margin-top: 4rem
    .terms
        padding-top: 1.5rem 
        color: #fff
        align-self: center
        font-family: Poppins
        margin-top: 2rem

.social__container
    display: flex
    flex-direction: row
    justify-content: space-evenly
    background: #131010
    padding-top: 4rem
    padding-bot: 4rem

    .icon
        height: 80px
        padding-bottom: 2rem
        margin: 1px
        
    
    .copy
        color: #fff
        font-family: Poppins
        padding-top: 8px
        margin-right: 35rem
