
.product
  display: flex
  flex-direction: column
  align-items: flex-start
  padding-top: 5rem 
  padding-left: 8rem
  color: #fff

.coffe_bag
  padding-bottom: 1rem
  margin-right: 15px
  width: 11rem
  

h4
  color: #fff

h5
  top: 20rem
  left: 36rem
  font-size: 18px
  color: #f3f59f
  position: fixed
  z-index: 1


button
  color: #fff

.message
   font-family: Poppins
   color: #f3f59f
   top: 24rem
   left: 36rem
   font-size: 16px
   position: fixed
   z-index: 1

.message_2
   font-family: Poppins
   color: #f3f59f
   top: 26rem
   left: 36rem
   font-size: 16px
   position: fixed
   z-index: 1

.send
  background: #2e642e
  padding: 1rem 3rem
  font-family: Poppins
  border-radius: 50px
  font-size: 18px
  top: 30rem
  left: 46rem
  position: fixed
  z-index: 1
  cursor: pointer

.material-icons
  cursor: pointer


   


   


    
    
    
    
